@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .icon {
    @apply w-6 h-6 md:w-5 md:h-5;
  };
  .medium-only {
    @apply hidden md:block
  }

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121213;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.collection-top {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

@media (max-width: 640px){ 
  .collection-top {
    display: flex;
  }
}
